*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --purple: #3A68B8;
    --white: #ffffff;
    --black: #020A18;
    --blue: #2F80ED;
    --back-sm: #040c1a;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
body {
    font-family: 'Open Sans', sans-serif !important;
}
.btn {
    background: var(--blue);
    border-radius: 5px;
    color: white;
    height: 52px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    min-width: 112px;
    font-size: 16px;
    letter-spacing: 1px;
}
.header {
    background: #08101e;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__list,.header__block {
    display: flex;
    align-items: center;
}
.header__list-item {
    margin-left: 40px;
    list-style: none;
}
.header__list-link{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
}
.header__logo {
    margin-right: 40px;
}
.home {
    background: var(--back-sm);
    padding: 50px 0;
    height: 919px;
    padding-bottom: 0;
}
.home__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__subtitle {
    font-size: 18px;
    color: var(--blue);
    font-weight: 400;
    margin-bottom: 10px;
}
.home__title {
    color: white;
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.home__text {
    margin: 20px 0 30px 0;
    line-height: 1.9;
    color: var(--white);
    font-size: 18px;
}
.home__inner-btn {
    display: flex;
    align-items: center;
}
.btn-lg {
    width: 171px;
    height: 57px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
}
.home__block {
    width: 50%;
}
.home__img {
    margin-left: 114px;
}
.home__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
}
.about {
    background: var(--black);
    padding-bottom: 40px;
}
.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-size: 40px;
    font-weight: 800;
    color: white;
}
.about__block {
    width: 40%;
}
.about__img {
    margin-right: 120px;
}
.text {
    font-size: 16px;
    color: var(--white);
    margin: 30px 0;
    line-height: 1.8;
}
.btn-md {
    width: 150px;
}
.main {
    background: var(--black);
    padding-top: 100px;
    margin: auto;
}
.main__card {
    background: #151c29;
    padding: 30px;
    border-radius: 10px;
    width: 390px;
    height: 400px;
    text-align: center; 
    margin-left: 15px;
    margin-bottom: 60px;
}
.main__card img {
    margin: auto;
    margin-bottom: 30px;
}
.main__card-title{
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
}
.slick-arrow {
    display: flex !important;
}
.slick-next, .slick-prev {
    display: none !important;
}
.slick-dots {
    background: var(--black);
    padding-bottom: 30px !important;
}
.slick-active button::before {
    font-size: 18px !important;
    color: white !important;
}
.slick-dots li button::before {
    color: 
    rgb(151, 151, 151) !important;
    font-size: 16px !important;
}
.main__inner-card {
    display: flex !important;
}